/*Do Kim Phuong design*/
.btn-down {
    float: left;
    clear: right;
}

.btn-down1 {
    float: right;
}

.btn-primary2 {
    color: #fff;
    background-color: orange;
    border-color: orange;
}

.btn-primary2:hover {
    color: #fff;
    background-color: orangered;
    border-color: orangered;
}

.btn-primary3 {
    background: lightblue;
    border: 1px solid lightblue;
    color: black;
}


.content1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.img {
    display: flex;
    flex-direction: column;
}
.intro {
    color: white!important;
    font-size: 12px!important;
}
.section-padding-50 {
    padding-top: 50px;
    padding-bottom: 40px;
}
.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 25px;
}