<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot PassWord</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body style="background: #e3e3e3">
    <div class="container">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" style="margin-top: 50px">
            <div class="title-login">
                <h3 style="font-weight: bold">Bạn quên mật khẩu?</h3>
            </div>
            <div class="message" id="message_id"> </div>
            <form method="post" id="forgot" accept-charset="utf-8">
                <div class="col-sm-10">
                    <div class="list-item-login oneField" id="add-email">
                        <span class="ttle-forgot" id="add_messs_1">Vui lòng nhập email hoặc số điện thoại của bạn, mật khẩu mới sẽ được gửi tới bạn</span>
                        <div id="thong-bao" style="display: none;">
                            <p class="chekc-cutdown">
                                Thời gian còn lại: <text></text> <span>giây</span>
                            </p>
                        </div>
                        <span class="ttle-forgot"  id="add_messs"></span>
                        <input type="text" name="text" id="email" class="required form-control quenmmk" placeholder="Email hoặc số điện thoại của bạn" style="margin-top: 20px">
                    </div>
                    <div class="submit-item-login sub-disab">
                        <input type="submit" id="submit_forgot" class="btn btn-success" value="Quên mật khẩu" style="width: 445px">
                        <div  id="check_class"></div>
                    </div>
                    <div class="note-click-lg" style="display: none" id="mess_phone">Vui lòng bấm vào <a href="/dang-nhap.html">đây</a> để nhập mật khẩu mới hoặc thử lại nếu chưa nhận được mật khẩu.</div>
                </div>
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
</body>
</html>